/* Professional and stylish color scheme */
QWidget {
    background-color: #f5f5f5;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Style rule for the QLabel displaying the icon image */
#iconLabel {
    background-image: url("renderman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%; /* Ensure the image fits within the QLabel */
}

QLabel {
    font-size: 18px;
    color: #333;
}

QPushButton {
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    background-color: #2c3e50; /* Midnight blue */
    color: white;
    font-size: 16px;
}

QPushButton#convertButton {
    padding: 12px 24px;
    font-weight: bold;
    background-color: #2980b9; /* Dark cerulean */
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

QProgressBar {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
}

QProgressBar::chunk {
    background-color: #2980b9;
    border-radius: 10px;
}

QListWidget {
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

QListWidget::item {
    padding: 10px 20px;
    color: #444;
}

QMessageBox QPushButton {
    min-width: 120px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #2980b9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin: 10px;
}
